[Desktop Entry]
Encoding=UTF-8
Name=soundKonverter
Exec=soundkonverter %i -caption "%c"
Icon=soundkonverter
Type=Application
DocPath=soundkonverter/soundkonverter.html
GenericName=An audio file converter
Terminal=false
Categories=AudioVideo;AudioVideoEditing;CD;
