[Desktop Entry]
X-AppInstall-Package=software-center
X-AppInstall-Popcon=93988
X-AppInstall-Section=main

Name=Ubuntu Software Center Test
Name[de]=Ubuntu Software Zentrum
GenericName=Software Center
Comment=Lets you choose from thousands of applications available for Ubuntu
Exec=/usr/bin/software-center
Icon=softwarecenter
Terminal=false
Type=Application
Categories=PackageManager;GTK;System;Settings;
StartupNotify=true

X-Ubuntu-Gettext-Domain=app-install-data
