[Desktop Entry]
Version=1.0

Name=Déjà Dup
Name[ar]=ديجا دوب
Name[bg]=Déjà Dup
Name[ca]=Déjà Dup
Name[cs]=Déjà Dup
Name[da]=Déjà Dup
Name[de]=Déjà Dup
Name[en_GB]=Déjà Dup
Name[eo]=Déjà Dup
Name[es]=Déjà Dup
Name[eu]=Déjà Dup
Name[fi]=Déjà Dup
Name[fo]=Déjà Dup
Name[fr]=Déjà Dup
Name[gl]=Déjà Dup
Name[he]=Déjà Dup
Name[hu]=Déjà Dup
Name[id]=Déjà Dup
Name[it]=Déjà Dup
Name[ja]=Déjà Dup
Name[lt]=Déjà Dup
Name[ml]=Déjà Dup
Name[nb]=Déjà Dup
Name[nl]=Déjà Dup
Name[nn]=Déjà Dup
Name[pl]=Déjà Dup
Name[pt_BR]=Déjà Dup
Name[ru]=Déjà Dup
Name[sk]=Déjà Dup
Name[sv]=Déjà Dup
Name[th]=Déjà Dup
Name[tr]=Déjà Dup
Name[uk]=Déjà Dup
Name[zh_CN]=Déjà Dup
Name[zh_TW]=Déjà Dup
GenericName=Backup Tool
GenericName[ar]=أداة النسخ الإحتياطي
GenericName[bg]=Инструмент за създаване на резервни копия
GenericName[ca]=Eina de còpies de seguretat
GenericName[cs]=Nástroj k zálohování
GenericName[da]=Værktøj til sikkerhedskopiering
GenericName[de]=Datensicherungs-Werkzeug
GenericName[en_GB]=Backup Tool
GenericName[es]=Herramienta de respaldo
GenericName[eu]=Babeskopietarako tresna
GenericName[fi]=Varmuuskopiointityökalu
GenericName[fo]=Trygdarritingar amboð
GenericName[fr]=Outil de sauvegarde
GenericName[gl]=Ferramenta de copia de seguranza
GenericName[he]=כלי גיבוי
GenericName[hu]=Biztonságimentés-kezelő
GenericName[id]=Peralatan Backup
GenericName[it]=Strumento di backup
GenericName[ja]=バックアップツール
GenericName[lt]=Atsarginių kopijų įrankis
GenericName[ml]=വിവര സുരക്ഷാ ഉപാധി
GenericName[nb]=Verktøy for sikkerhetskopiering
GenericName[nl]=Back-up maken
GenericName[nn]=Verktøy for tryggleikskopiering
GenericName[pl]=Narzędzie do tworzenia kopii zapasowych
GenericName[pt_BR]=Ferramenta de Backup
GenericName[ru]=Резервное копирование данных
GenericName[sk]=Zálohovací nástroj
GenericName[sv]=Säkerhetskopiering
GenericName[th]=เครื่องมือสำรองข้อมูล
GenericName[tr]=Yedekleme Aracı
GenericName[uk]=Інструмент резервного копіювання
GenericName[zh_CN]=备份工具
GenericName[zh_TW]=備份工具
X-GNOME-FullName=Déjà Dup Backup Tool
X-GNOME-FullName[ar]=أداة النسخ الإحتياطي
X-GNOME-FullName[bg]=Инструмент за създаване на резервни копия Déjà Dup
X-GNOME-FullName[ca]=Eina de còpies de seguretat Déjà Dup
X-GNOME-FullName[cs]=Nástroj k zálohování Déjà Dup
X-GNOME-FullName[da]=Déjà Dup - sikkerhedskopieringsværktøj
X-GNOME-FullName[de]=Déjà Dup Datensicherungs-Werkzeug
X-GNOME-FullName[en_GB]=Déjà Dup Backup Tool
X-GNOME-FullName[es]=Herramienta de respaldo Déjà Dup
X-GNOME-FullName[eu]=Déjà Dup babeskopietarako tresna
X-GNOME-FullName[fi]=Déjà Dup -varmuuskopiointityökalu
X-GNOME-FullName[fo]=Déjà Dup trygdarritinghar amboð
X-GNOME-FullName[fr]=Outil de sauvegarde Déjà Dup
X-GNOME-FullName[gl]=Ferramenta de copia de seguranza do Déjà Dup
X-GNOME-FullName[he]=כלי הגיבוי Déjà Dup
X-GNOME-FullName[hu]=Déjà Dup biztonságimentés-kezelő
X-GNOME-FullName[id]=Peralatan Backup Déjà Dup
X-GNOME-FullName[it]=Strumento di backup Déjà Dup
X-GNOME-FullName[ja]=Déjà Dup バックアップツール
X-GNOME-FullName[lt]=Déjà Dup atsarginių kopijų įrankis
X-GNOME-FullName[ml]=Déjà Dup ബാക്കപ്പ് ടൂള്‍
X-GNOME-FullName[nb]=Déjà Dup verktøy for sikkerhetskopiering
X-GNOME-FullName[nl]=Déjà Dup back-up maken
X-GNOME-FullName[nn]=Déjà Dup verktøy for tryggleikskopiering
X-GNOME-FullName[pl]=Program do tworzenia kopii zapasowych Déjà Dup
X-GNOME-FullName[pt_BR]=Ferramenta de Backup Déjà Dup
X-GNOME-FullName[ru]=Сохранение данных с Déjà Dup
X-GNOME-FullName[sk]=Déjà Dup - zálohovací nástroj
X-GNOME-FullName[sv]=Déjà Dup Säkerhetskopiering
X-GNOME-FullName[th]=เครื่องมือสำรองข้อมูล Déjà Dup
X-GNOME-FullName[tr]=Déjà Dup Yedekleme Aracı
X-GNOME-FullName[uk]=Резервне копіювання з Déjà Dup
X-GNOME-FullName[zh_CN]=Déjà Dup 备份工具
X-GNOME-FullName[zh_TW]=Déjà Dup 備份工具
Comment=Back up your files
Comment[ar]=إنسخ ملفاتك إحتياطيا
Comment[bg]=Направете резервни копия на файловете си
Comment[ca]=Feu una còpia de seguretat dels vostres fitxers
Comment[cs]=Zálohujte svá data
Comment[da]=Tag sikkerhedskopier af dine filer
Comment[de]=Ihre Daten sichern
Comment[en_GB]=Back up your files
Comment[es]=Respalde sus archivos
Comment[eu]=Egin zure fitxategien babeskopia
Comment[fi]=Varmuuskopioi tiedostosi
Comment[fo]=Trygdarrita tínar fílur
Comment[fr]=Sauvegardez vos fichiers
Comment[gl]=Respalda os teus arquivos
Comment[he]=גבה את הקבצים שלך
Comment[id]=Backup file anda
Comment[it]=Esegue il backup dei propri file
Comment[ja]=あなたのファイルをバックアップ
Comment[lt]=Daryti atsargines failų kopijas
Comment[ml]=ഫൈയൽ ബാക്കപ്പ് ചെയുക
Comment[nb]=Sikkerhetskopier filene dine
Comment[nl]=Back-up van uw bestanden maken
Comment[nn]=Ta tryggleikskopi av filene dine
Comment[pl]=Tworzenie kopii zapasowych plików
Comment[pt_BR]=Fazer backup de seus arquivos
Comment[ru]=Резервное копирование файлов
Comment[sv]=Säkerhetskopiera dina filer
Comment[th]=สำรองแฟ้มของคุณ
Comment[tr]=Dosyalarınızı yedekleyin
Comment[uk]=Резервне копіювання Ваших файлів
Comment[zh_CN]=备份您的文件
Comment[zh_TW]=備份您的檔案

Icon=deja-dup
TryExec=deja-dup
Exec=deja-dup

StartupNotify=true

Type=Application
Categories=GNOME;GTK;System;Utility;Archiving;
